<!--index.vtl-->
<h1>Welcome to Emilie's Hack-A-Thon</h1>

#if ($tasks)
  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/$team.getId()">$team.getTeamName()</a></li>
    #end
  </ul>
#else
  <p>No teams yet!</p>
#end

<p>Add a new Team:</p>

<form action="/teams" method="post">
  <label for="teamName">Team Name</label>
  <input id="teamName" name="teamName" type="text">

  <button type="submit" class="btn btn-default">Add team</button>
</form>

<a href="/aboutus">About this Hack-a-thon</a>
<!--index.vtl-->
